.swiper-pagination {
  display: flex;
  position: static;
  align-items: center;
  gap: 4px;
  width: fit-content !important;

  &__fraction {
    color: $white;
    border-radius: 24px;
    background: $black;
    padding: 4px 16px;
    @include button-text;
    height: 40px;
    width: fit-content;
    gap: 0;
  }
}

.banner-swiper-pagination {
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.swiper-pagination-bullet {
  margin: 0 !important; 
  display: flex;
  width: 32px;
  height: 32px;
  min-height: 32px;
  justify-content: center;
  align-items: center;
  background: $grey-2;
  opacity: 1;
  cursor: pointer;
  @include button-text;

  &-active {
    width: 40px;
    height: 40px;
    background: $black;
    color: $white;
  }

  &.banner-swiper-bullet {
    border-radius: 4px;
    min-height: 4px;
    width: 4px;
    height: 4px;
    background: $grey-3;
    display: flex;
    justify-content: flex-end;

    &.swiper-pagination-bullet-active {
      background: $black;
      width: 60px;
    }

    .banner-swiper-progress {
      border-radius: 4px;
    }
  }
}

.most-popular__pagination {
    
}
.pagination {
  display: flex;
  border-radius: 24px;
  border: 1px solid $grey-2;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: center;
  width: fit-content !important;
  padding: 7px 12px;
  gap: 16px;

  &:has(.swiper-hide-pagination) {
    display: none;
  }
}

.swiper-button-prev, .swiper-button-next  {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  position: relative;
  margin-top: 0;
  border-radius: 50px;
  border: 1px solid $black;
  width: 32px;
  height: 32px;

  &::after {
    content: "";
    mask-image: url("../images/icons/arrow-light.svg");
    background-repeat: no-repeat;
    background-position: center;
    mask-repeat: no-repeat;
    -webkit-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center;
    -webkit-position: no-repeat;
    -webkit-mask-position: center;
    background-color: $black;
    width: 16px;
    height: 16px;
    position: absolute;
  }
}

.swiper-button-prev {
  &::after {
    transform: rotate(180deg);
  }
}

.swiper-hide-pagination {
  display: none;
}

