.footer {
  .mobile {
    display: none;
  }

  &__form {
    border-radius: 40px 40px 0 0;
    padding: 80px 0;
    background-position: 51% 42%;
    background-image: url("../images/content/footer-form-bg.webp");
    background-repeat: no-repeat;
    background-size: 122%;

    .input {
      &:not(:placeholder-shown) {
        color: $white;
      }
    }

    &__content {
      display: flex;
      border-radius: $border-radius;
      padding: 40px 80px;
      background: $black;
      gap: 44px;
      justify-content: space-between;
      flex-direction: row;
    }

    &__text {
      margin-top: 4px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      &__title {
        color: $white;
      }

      &__desc {
        color: $grey-2;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 46.7%;
    }

    &__action {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__license {
      display: flex;
      flex-direction: column;

      span {
        color: $grey-3;
      }

      a {
        color: $blue-main
      }
    }
  }


  &__contents {
    background: $black;
    padding-top: 50px;

    hr {
      margin: 0;
      color: rgba(100, 105, 112, 0.30);
      background-color: rgba(100, 105, 112, 0.30);
      border-color: rgba(100, 105, 112, 0.30);
    }

    &__rating {
      border: 1px solid $dark-grey;
      border-radius: 16px;
      padding: 12px 15px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__logo {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      &__stars {
        position: relative;
        display: flex;
        align-items: center;
        unicode-bidi: bidi-override;
        color: $black;
        font-size: 28px;
        line-height: 28px;
        -webkit-text-stroke: 1px #EAA900;
        

        .fill {
          color: #EAA900;
          padding: 0;
          position: absolute;
          z-index: 1;
          display: block;
          top: 0;
          left: 0;
          overflow: hidden;
        
          // Allows us to grab the width of the span elements
          span {
            display: inline-block;
          }
        }

        .empty-ratings {
          padding: 0;
          display: block;
          z-index: 0;
        }
      }

      &__int {
        color: $sky-blue;
      }

      &__desc {
        color: $dark-grey;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;

      &__text {
        display: flex;
        gap: 24px;

        .info__worktime, .info__location {
          display: flex;
          color: $grey-2;
          align-items: center;
          gap: 4px;
          font-style: normal;
        }
      }
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 18px;

      &__actions {
        display: flex;
        gap: 12px;
      }

      nav ul {
        display: flex;
        flex-direction: row;
        gap: 24px;

        li {
          .regular-text-m {
            color: $grey-3;
            @include transition;
  
            &:hover {
              color: $grey-2;
            }
  
            &.active {
              color: $grey-2;
            }
          }
        }
      }
    }

    &__categories {
      margin-top: 28px;
      margin-bottom: 22px;
      display: flex;
      gap: 12px;

      &__item {
        width: 212px;
      }

      &__title {
        color: $dark-grey;
        margin-bottom: 16px;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        
        &__item {
          color: $grey-3;
          @include transition;
          
          &:visited {
            color: $grey-3;
          }

          &:hover {
            color: $white;
          }
        }
      }

    }

    &__bottom-text {
      color: $dark-grey;
      margin-top: 20px;
      padding-bottom: 40px;
    }
  }
}

@media (max-width: 1100px) {
  .footer {
    .mobile {
      display: block !important;
    }
    .footer__contents__rating__wrapper {
        display: none;
    }
    &__contents {
      &__info {
        &__text {
          display: none;

          &.mobile {
            margin-top: 24px;
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            gap: 12px;
          }
        }
      }

      &__nav {
        flex-direction: column;
        align-items: inherit;

        &__actions {
          justify-content: space-between;
          width: 100%;
          gap: 0;

          .button {
            width: calc(50% - 6px);
            padding: 0;
          }
        }

        nav {
          width: 100%;
          margin-bottom: 20px;

          ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
          }
        }
      }

      &__categories {
        flex-direction: column;
        gap: 36px;
      }

      &__rating {
        &__wrapper {
          display: none;
          
          &.mobile {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
    }

    &__form {
      padding-top: 80px;
      padding-bottom: 200px;
      background-position: center;
      background-size: cover;

      &__wrapper {
        width: 100%;
        gap: 12px;
      }

      &__content {
        padding: 40px 16px;
        flex-direction: column;
        gap: 20px;
      }

      &__text {
        margin-top: 0;
        gap: 12px;
      }

      &__action {
        flex-direction: column-reverse;
        text-align: center;

        .button {
          width: 100%;
        }
      }
    }
  }
}