.catalog {
  &__section {
    background: $white;

    .container {
      padding: 20px 0 40px 0;
    }
  }

  &__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
    display: grid;
    gap: 12px;

    .car-item {
        max-width: 324px;
    }
  }

  &__model-row__tabs {
    background: $light-grey;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .select {
      width: 324px;
      height: 48px;

      .input__wrapper {
        height: 48px;
      }

      .input__label {
        top: 50%;
        transform: translateY(-50%);
      }

      .input:focus + .input__label {
        top: 10px;
      }

      .input {
        top: 60%;
        transform: translateY(-50%);
      }

      .input:focus + .input__label, .input:not(:placeholder-shown) + .input__label {
        top: 10px;
      }
    }
  }

  &__container {
    margin-top: 40px;

    .pagination {
      height: 56px;
    }
  }
}

@media (max-width: 1100px) {
  .catalog {
    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    
      .car-item {
        width: 100%;
        max-width: none;
        
        &__badges {
            display: none;
        }

        .deal-badge__text {
            font-size: 12px !important;
        }

        .deal-timer {
            display: none;
        }

        .deal-badge {
            width: 48px !important;
            height: 24px !important;
        }

        .car-item__compare__icon {
            left: 8px;
            top: 82px;
            z-index: 2;
        }

        .header-text-s {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            align-self: stretch;
            overflow: hidden;
            color: #151515;
            text-overflow: ellipsis;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 142.857% */
        }

        .size-card {
            font-size: 12px !important;
        }

        &__price {
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px; /* 150% */
        }
        
        &__text {
            padding: 8px;
        }

        .old-price {
            color: #9CA5B3;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px; /* 180% */
            text-decoration-line: line-through;
        }

        &__image {
            height: 119px;
        }
      }
    }

    &__container {
        .pagination {
            gap: 4px;

            .swiper-pagination-bullet {
                width: 28px;
                height: 28px;
                min-height: 28px;
            }

            .swiper-pagination-bullet-active {
                width: 32px;
                height: 32px
            } 
        }
    }
  }
} 
