@import 'vars';
@import 'reset';
@import 'fonts';
@import 'icons';
@import 'typography';

* {
  font-family: 'PTRootUI', sans-serif;
}

body {
  background: $body-background-color;
}

.container {
  max-width: 1332px;
  margin: 0 auto;
}

.info__mobile {
  display: none !important;
}

a:visited {
  color: $black;
}

a {
  color: $black;
}

img.lazy{
  opacity: 0;
  -webkit-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
img.loaded{
  opacity: 1;
  -webkit-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.lazy{
  -webkit-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.lazy.background-load{
opacity: 0;
-webkit-transition: all 0.9s ease-in-out;
-o-transition: all 0.9s ease-in-out;
transition: all 0.9s ease-in-out;
}

.lazy img {
opacity: 0;
-webkit-transition: all 0.9s ease-in-out;
-o-transition: all 0.9s ease-in-out;
transition: all 0.9s ease-in-out;
}

.lazy source{
-webkit-transition: all 0.9s ease-in-out;
-o-transition: all 0.9s ease-in-out;
transition: all 0.9s ease-in-out;

}
.lazy.loaded.background-load{
  opacity: 1;
  -webkit-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.lazy.loaded img{
  opacity: 1;
  -webkit-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}


/* Keyframes для переливания */
@keyframes shimmer {
0% {
  transform: translateX(-100%);
}
100% {
  transform: translateX(100%);
}
}

// .lazy {
//   opacity: 0;
//   @include transition;

//   &.loaded {
//     opacity: 1;
//   }
// }

@media(max-width: 1332px) {
  .container {
    max-width: auto;
    margin: 0 32px;
  }
}

@media(max-width: 1100px) {
  .container {
    max-width: auto;
    margin: 0 16px;
  }
}