.car-brands {
  &__container.container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;

  &__item {
    border-radius: $border-radius;
    background: $white;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    .arrow-icon {
      width: 24px;
      height: 24px;
      background: $black;
    }

    &__text {
      display: flex;
      align-items: center;
      gap: 8px;

      .brand-icon {
        width: 32px;
        height: 32px;
      }
      .brand-icon::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          #fffcfc 50%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: shimmer 1.5s infinite;
        z-index: 1;
        pointer-events: none;
      }
    
      .brand-icon.loaded::before {
        display: none;
      }
    
      .brand-icon img {
        width: 32px;
        height: 32px;
        object-fit: contain;
       }
    }
  }

  &__more {
    display: none;
  }

  &__buttons {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    gap: 12px;
  }
}

@media (max-width: 1220px) {
  .car-brands {
    grid-template-columns: repeat(3, 1fr);
  } 
}

@media (max-width: 1100px) {
  .car-brands {
    grid-template-columns: repeat(2, 1fr);

    .arrow-icon {
      display: none;
    }

    &__buttons {
      .button {
        width: calc(50% - 6px);
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  } 
}