.carbody {
   
    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }

    &__car-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 16px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0) 0%,
              #ffffff 50%,
              rgba(255, 255, 255, 0) 100%
            );
            animation: shimmer 1.5s infinite;
            z-index: 1;
            pointer-events: none;
          }
        
          &.loaded::before {
            display: none;
          }
        
          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
           }
        
    }

    &__item {
        position: relative;
        overflow: hidden;
        padding: 10px;
        border-radius: 16px;
        height: 220px;
        border-radius: 16px;
        border: 1px solid #DCE1E9;
        display: flex;
        background-color: #e4ecf8;
        // background: radial-gradient(221.73% 137.37% at 94.6% 100%, rgba(100, 105, 112, 0.80) 0%, rgba(191, 200, 214, 0.00) 100%);
    
        &__text {
            position: relative;
            z-index: 2;
            color: $sky-blue;
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 112% */
            display: block;
            margin: auto auto 0 0;
        }
    }
}

@media (max-width: 1100px) {
    .carbody {
        &__title {
            margin-bottom: 20px;
        }

        &__item {
            height: 120px;
            &__text {
                font-size: 16px;
            }
        }

        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
        }
    }
}