.most-popular {
  background: $sky-blue;
  padding: 80px 0 80px 0;
  position: relative;
  overflow: hidden;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__tabs {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__items {
    margin-bottom: 40px;
  }

  &__item {
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $black;
    overflow: hidden;
  }

  &__image {
   width: 100%;
    // max-width: 324px;
    border-radius: $border-radius $border-radius 0 0;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgb(42, 41, 41) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      animation: shimmer 1.5s infinite;
      z-index: 1;
      pointer-events: none;
    }
  
    &.loaded::before {
      display: none;
    }
  
    & img {
      object-fit: cover;
      max-height: 180px;
      width: 100%;
      height: 100%;
     }
  
  }

  &__text {
    background: $black;
    width: 100%;
    text-align: center;
    color: $white;
    padding: 8px 0;
    border-radius: 0 0 $border-radius $border-radius;
  }

  &__pagination {
    height: 56px;
  }
}

@media (max-width: 1100px) {
  .most-popular {
    padding: 40px 16px;
    border-radius: $border-radius;

    &__image {
        height: 150px;
    }

    &__title {
      text-align: left;
      margin-bottom: 20px;
    }

    &__tabs {
      margin-bottom: 0;
      overflow: hidden;
      flex-wrap: nowrap;
      overflow-x: auto;
      white-space: nowrap;

      .tabs__item {
        width: max-content;
        white-space: nowrap;
      }
    }

    .tabs__wrapper {
      overflow-x: auto;
      margin-bottom: 20px;
    }
  }
}