.new-cars {
  margin-bottom: 40px;
  width: 100%;

  &__container.container {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
    gap: 12px;
  }

  .pagination {
    max-width: 100%;
    height: 56px;
    margin-bottom: 40px;
  }
}

.car-item {
  position: relative;
  border: 1px solid $grey-2;
  border-radius: $border-radius;
  width: 324px;
  transition: 0.3s all;
  overflow: hidden;

  &.deal {
    .car-item__image {
        background: linear-gradient(0deg, #2E58DB -26.45%, #F3F6FB 50.15%)
    }

    &:hover {
        border: 1px solid var(--Blue-Dark, #1641BC);
    }

    .deal-badge {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px 0px;
        background: var(--Blue-Dark, #1641BC);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 32px;
        z-index: 2;

        &__text {
            color: var(--Sky-Blue, #E4ECF8);
            font-size: 16px;
        }
    }

    .deal-timer {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 66px;
        right: 0;
        top: 0;
        z-index: 2;

        &__wrapper {
            display: flex;
            align-items: center;
            gap: 4px;
            justify-content: center;
        }

        &__circle {
            width: 37px;
            height: 37px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px dashed var(--Blue-Dark, #1641BC);
        }

        &__time {
            color: var(--Blue-Dark, #1641BC);
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 12px; /* 100% */
        }

        &__text-sm {
            color: var(--Blue-Main, #2E58DB);
            font-size: 7px;
            font-style: normal;
            font-weight: 400;
            line-height: 8px; /* 88.889% */
        }

        &__title {
            color: var(--Blue-Dark, #1641BC);
        }
    }
  }

  &:hover {
    border: 1px solid var(--Black, #151515);
  }

  &.swiper-slide {
    margin-right: 12px;
  }

  &__compare {
    &__hint {
      z-index: 1;
      position: absolute;
      padding: 8px 12px;
      background: $black;
      border-radius: 12px;
      color: $grey-2;
      width: 105px;
      text-align: center;
      display: none;
      justify-content: center;
      align-items: center;
      bottom: calc(100% + 2px);
      left: 0;
    }

    &__container {
        z-index: 2;
      position: absolute;
    }

    &__info {
      z-index: 2;
      width: 204px;
      position: absolute;
      left: 0;
      bottom: calc(100% + 2px);
      padding: 12px;
      background: $black;
      border-radius: $border-radius;
      flex-direction: column;
      display: none;

      &.active {
        display: flex;
      }

      .regular-text-m {
        color: $white;
        margin-bottom: 4px;
      }
      
      .regular-text-s {
        color: $grey-3;
        margin-bottom: 10px;
      }

      &__buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }

    &__icon {
      position: absolute;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      background: $white;
      border-radius: 8px;
      left: 8px;
      top: 202px;

      &.active {
        .compare-icon {
          mask-image: url("../images/icons/compare-icon-active.svg");
          background-color: $blue-main;
        }
      }

      &:has(.car-item__compare__info:hover) .car-item__compare__hint {
        display: none;
      }

      &:has(.car-item__compare__info.active) .car-item__compare__hint {
        display: none;
      }

      &:hover {
        .car-item__compare__hint {
          display: flex;
        }

        .compare-icon {
          background-color: $black;
        }
      }
      
      .compare-icon {
        width: 100%;
        height: 100%;
      }
    }    
  }

  &__sale-badge {
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    background: $red;
    color: $white;
    border-radius: 0px 16px;
    padding: 4px 12px;
  }

  &__in-stock-badge {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    border: 1px solid $green;
    padding: 0px 6px;
    gap: 2px;
    color: $green;
    top: 8px;
    left: 8px;
  }

  &__check {
    background-color: $green;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 16px;
    background: $white;
    border-radius: 0 0 $border-radius $border-radius;
  }

  &__badges {
    display: flex;
    gap: 8px;
  }
  
  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    border-radius: $border-radius;
  }

  &__credit {
    background: $sky-blue;
    color: $blue-dark;
  }

  &__profit {
    background: $black;
    color: $grey-2;
  }

  &__original-price {
    color: $dark-grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-decoration: line-through;
  }

  &__price {
    color: $blue-main;
    display: flex;
    align-items: center;
    gap: 8px;

    &__wrapper {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    .help-icon{
      background: $black;
    }
  }

  &__image {
    height: 243px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $light-grey;
    border-radius: 15px 15px 0 0;
    position: relative;
    &-photo{
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          white 50%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: shimmer 1.5s infinite;
        z-index: 1;
        pointer-events: none;
        
      }
      &.loaded::before {
        display: none;
      }
      & img {
        width: 90%;
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1100px) {
    .new-cars__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;

        .car-item {
            width: 100%;
            max-width: none;
            
            &__badges {
                display: none;
            }
    
            .deal-badge__text {
                font-size: 12px !important;
            }
    
            .deal-timer {
                display: none;
            }
    
            .deal-badge {
                width: 48px !important;
                height: 24px !important;
            }
    
            .car-item__compare__icon {
                left: 8px;
                top: 82px;
                z-index: 2;
            }
    
            .header-text-s {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                align-self: stretch;
                overflow: hidden;
                color: #151515;
                text-overflow: ellipsis;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px; /* 142.857% */
            }
    
            .size-card {
                font-size: 12px !important;
            }
    
            &__price {
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                line-height: 18px; /* 150% */
            }
            
            &__text {
                padding: 8px;
            }
    
            .old-price {
                color: #9CA5B3;
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px; /* 180% */
                text-decoration-line: line-through;
            }
    
            &__image {
                height: 119px;
            }
          }
      }
}