.promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  &__container.container {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__item {
    border-radius: $border-radius;
    background: $white;
    position: relative;
    overflow: hidden;
    &-image{
      border-radius: $border-radius $border-radius 0 0;
      width: 100%;
      height: 100%;
      &-wrap{
        background: #E4ECF8;
        width: 100%;
        height: 100%;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          white 50%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: shimmer 1.5s infinite;
        z-index: 1;
        pointer-events: none;
      }
    
      &.loaded::before {
        display: none;

      }
    
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
       }
    }
  }

  &__header {
    height: 260px;
    position: relative;
    border-radius: $border-radius;
    
    // img {
    //   border-radius: $border-radius $border-radius 0 0;
    // }
  }
 

  &__label {
    position: absolute;
    color: $white;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    padding: 12px 17px;
    background: $blue-main;
    border-radius: $border-radius;
    text-transform: uppercase;
    top: 20px;
    left: 20px;
    z-index: 2;

    &__trade-in {
      line-height: 22px;
      padding-bottom: 8px;

      span {
        display: block;
        margin-top: 7px;
        font-size: 17px;
      }
    }
    &__price {
      top: auto;
      bottom: 20px;
      left: 20px;
      background: $purple;
    }

    &__pay {
      left: auto;
      top: auto;
      right: 20px;
      bottom: 20px;
      background: $purple;
      padding: 3px 16px;
      font-size: 20px;
    }
  }

  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .input__wrapper {
      height: 49px;
    }

    .input__label {
      top: 50%;
      transform: translateY(-50%);
    }

    .input:focus + .input__label {
      top: 10px;
    }

    .input {
      top: 16px;
    }

    &__license {
      text-align: center;

      span {
        color: $grey-3;
      }

      a {
        color: $blue-main;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}


@media (max-width: 1332px) {
  .promo {
    &__header {
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1100px) {
  .promo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    &__form {
      &__license {
        display: flex;
        flex-direction: column;
      }
    }

    &__header {
      height: 196px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      padding: 16px;
      gap: 12px;
    }
  }
}