.car-main {
  padding: 40px 0;

  .mobile-br {
    display: none;
  }

  &__title {
    line-height: 44px;
    font-size: 36px;
    font-weight: 700;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
    }
    
    &__badge {
      position: relative;
      color: $black;
      line-height: 20px;
      font-size: 14px;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      height: 28px;
      background: $grey-2;
      padding: 0 12px;

      .red-text {
        color: $red;
      }
    }

    &__desc {
      color: $text-color-gray;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__info {
    display: flex;
    gap: 12px;

    &__item {
      width: calc(50% - 6px);
    }

    &__preview {
      position: relative;
      .preview-info {
        position: absolute;
        bottom: 16px;
        left: 16px;
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: $text-color-darkGray;
        }

        &__desc {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: $black;
        }
      }

      &__photo {
        position: relative;
        margin-bottom: 12px;
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 494px;
        background: #fff;

        &.deal {
            background: linear-gradient(0deg, #2E58DB -16.45%, #ffffff 61.15%);
            .preview-info__title {
                color: $white;
            }

            .preview-info__desc{
                color: $white;
            }   

            .deal-badge {
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 15px 0px;
                background: var(--Blue-Dark, #1641BC);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 32px;
        
                &__text {
                    color: var(--Sky-Blue, #E4ECF8);
                    font-size: 16px;
                }
            }

            .car-card__preview-top-label-stock {
                color: #fff;
                padding: 15px 15px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 0px 4px 0px 4px;
                width: 100%;
                font-weight: 500;
            }
        
            .carousel-model {
                position: relative;
                width: 100%;
                height: 30px; /* Высота карусели */
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
            }
        
            .carousel-model-slide {
                line-height: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                transition: left 1s ease-in-out;
                max-width: 240px;
                height: 30px;
                font-weight: 600;
                text-align: left;
                background: $blue-main;
                color: #fff;
                display: flex;
                width: 230px;
                padding: 8px 16px;
                border-radius: 8px;
                padding-right: 5px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
            }
        
            .carousel-model-slide div {
                background-color: transparent;
                background-position: center -1.126px;
                background-size: cover;
                background-repeat: no-repeat;
                width: 50px;
                height: 30px;
                border-radius: 8px;
            }
        
            .carousel-model-slide {
                position: absolute;
                opacity: 0;
                animation: fade 12s infinite;
            }
            
            .carousel-model-slide:nth-child(1) {
                animation-delay: 0s;
            }
            
            .carousel-model-slide:nth-child(2) {
                animation-delay: 3s;
            }
            
            .carousel-model-slide:nth-child(3) {
                animation-delay: 6s;
            }
            
            .carousel-model-slide:nth-child(4) {
                animation-delay: 9s;
            }
            
            @keyframes fade {
                0% { opacity: 1; }
                15% { opacity: 1; }
                22% { opacity: 0; }
                33% { opacity: 0; }
                100% { opacity: 0; }
            }
            
            @media (max-width: 1100px) {
                .model-gallery-carousel__slide {
                    display: flex;
                    flex-direction: column;
                }
                .header-gallery {
                    justify-content: space-between;
                    flex-direction: column;
                    align-content: center;
                }
        
                .small-image-gallery img {
                    height: 100%;
                }
        
                .big-image-item {
                    height: 100%;
                }
        
                .car-card__preview-top-label-stock {
                    padding: 0 10px;
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    top: unset;
                    width: 100%;
                    font-weight: 500;
                    height: 30px;
                }
        
                .model-page__preview {
                    position: relative;
                }
            }
        }


        .discount-badge {
          color: $white;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0px 16px 0px 16px;
          padding: 4px 12px 4px 12px;
          background: #D02D2D;
          position: absolute;
          right: 0;
          top: 0;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      &__color {
        width: 26px;
        height: 26px;
        border-radius: $border-radius;
        border: 1px solid $text-color-light;
        cursor: pointer;
        transition: 0.3s ease-in all;

        &.active {
          width: 32px;
          height: 32px;
        }

        &.gray {
          background-color: #DCE1E9;
        }

        &.black {
          background-color: #000;
        }

        &.white {
          background-color: #fff;
        }

        &.blue {
          background-color: #AAC5F0;
        }

        &.red {
          background-color: #C31313;
        }
      }

      &__colors {
        border-radius: $border-radius;
        align-items: center;
        border: 1px solid $text-color-light;
        height: 56px;
        padding: 11px 15px;
        display: flex;
        gap: 6px;
      }
    }

    &__settings {
      border-radius: $border-radius;
      border: 1px solid $text-color-light;
      padding: 40px;

      .label {
        border-radius: $border-radius;
        background: #e4ebf8;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 25%;
        
        .label-icon {
          width: 24px;
          height: 24px;
        }

        .label-text {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }

        .label-name {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
        }
        
        .label-desc {
          line-height: 24px;
          font-size: 16px;
        }

        &__wrapper {
          display: flex;
          gap: 12px;
          margin-bottom: 30px;
        }
      }

      .discount {
        &__options {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 25px;
        }

        &__option {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &__value {
            color: #646970;
          }
        }

        &__total {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;

          &__name {
            color: $black;
          }

          &__sum {
            color: $black;
            font-size: 20px;
            line-height: 28px;
          }
        }
      }

      .toggle:has(.toggle__button:checked) + .discount__option__value {
        color: $accent-color;
      }

      .total {
        margin-bottom: 40px;

        &__wrapper {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-bottom: 10px;
        }

        &__sum {
          line-height: 44px;
          font-size: 36px;
          color: $accent-color;
        }
        
        &__credit {
          font-size: 14px;
          line-height: 20px;
          color: $accent-color;
          padding: 4px 12px;
          border-radius: $border-radius;
          background: $accent-color-light;
        }

        &__desc {
          font-size: 20px;
          line-height: 28px;
        }

        &__actions {
          display: flex;
          gap: 12px;

          .button {
            width: 50%;
            height: 48px;
          }
        }
      }
    }
  }
}

@media (max-width: 1331px) {
  .car-main {
    &__info {
      flex-wrap: wrap;
      
      &__item {
        width: 100%;
      }
    }
  }
}

@media (max-width: 831px) {
  .car-main {
    padding: 20px 0;

    &__title__wrapper {
      flex-direction: column;
      gap: 16px;
      margin-bottom: 20px;
    }
  
    &__title__text {
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }
  
    &__title {
      font-size: 28px;
      line-height: 34px;

      &__badge {
        width: fit-content;
      }
    }
  
    &__title__desc {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

@media (max-width: 554px) {
  .mobile-br {
    display: block;
  }

  .car-main {
    &__info__preview__photo {
      height: 240px;
      margin-bottom: 4px;
    }
  
    &__info__preview__colors {
      padding: 7px 8px;
    }
  
    &__info__preview {
      .preview-info {
        left: 12px;
        bottom: 8px;
      }
  
      .preview-info__desc {
        font-size: 14px;
      }
    }
    &__info {
      gap: 40px;
    }
  
    &__info__settings {
      border: none;
      padding: 0;
      display: flex;
      flex-direction: column;
  
      .label__wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 8px;
        column-gap: 12px;
        width: calc(100% - 16px);
        margin-bottom: 16px;
      }
  
      .label {
        padding: 8px;
        width: 100%;
        flex-direction: row;
      }
  
      .total {
        order: 2;
      }
  
      .discount__options {
        gap: 23px;
        order: 2;
        margin-bottom: 21px;
  
        .toggle {
          width: 75%;
        }
  
        #disposal-program-checkbox + .toggle__text {
          width: 75%;
        }
      }
  
      .discount__total {
        order: 2;
      }
  
      .total__actions {
        z-index: 3;
        flex-direction: row-reverse;
        background: $white;
        width: 100%;
        padding: 12px 16px;
        left: 0;
        bottom: 0;
        position: fixed;
      }
  
      .total__wrapper {
        margin-top: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        margin-bottom: 15px;
      }
  
      .total__sum {
        font-size: 28px;
      }
  
      .total__desc {
        font-size: 18px;
      }
      .total {
        margin-bottom: 21px;
      }
    }
  }
}